body {
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
#firstlevel{
	
float:left;
background-color:#AC193D;
margin:10px;
 padding:10px;
}
#secondlevel{
		
	float:left;
    background-color:#8C0095;
    margin:10px;
    padding:10px;
	}
#levelcontainer{
	overflow: hidden;
    width: 100%;

	}
.btnAddLevel {
  font-family:'Segoe UI Symbol';
  border-width:0px;
}
.btnDelLevel {
    font-family:'Segoe UI Symbol';
    border-width:0px;
}
#numBreakfor {
    width: 75px;
}
#lblSoFar {
    width:75px;
}
.spacer {
    width: 40px;
    min-width:40px;
    display:inline-block;
}
#midsection {
    background-color:#5133AB;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}